<div class="main">
    <p class="sign" style="text-align: center;"> Sign in</p>
    <form [formGroup]="form"  class="form1">
        <input formControlName="email" type="email" class="email form-control" style="text-align: center;" placeholder="Email" >
        <input formControlName="password" type="password" class="pass form-control" style="text-align: center;" placeholder="Password">
        <div class="padd">
            <button type="submit" class="submit" style="text-align: center;" (click)="submit()">Sign In</button>
            </div>
    </form>
</div>
