.card {
    border: 2px solid #6c63ff; /* Border color */
    border-radius: 20px; /* Rounded corners */
    background-color: #f0f0f0; /* Card background color */
  }

  .card-title {
    color: #6c63ff; /* Title color */
    font-weight: bold; /* Bold font weight */
  }

  .card-text {
    font-family: 'Raleway', sans-serif; /* Raleway font */
  }

  .card-footer {
    background-color: #6c63ff; /* Footer background color */
    color: #fff; /* Footer text color */
  }

  .font-weight-semibold {
    font-weight: 600; /* Semibold font weight */
  }