<div class="container text-center" *ngIf="showPost">
    <h2>Welcome to Feed Page </h2>
    <div *ngFor="let post of posts">
        <b style ="color: violet" >{{post.title}}</b> <br>
        <b style ="color: red" >{{post.content}}</b> <br>
        <b style ="color: green"> {{post.imageUrl}}</b> <br>
        <b style ="color: purple">{{post.firstName}} {{post.lastName}} {{post.country}}</b>
    </div>
        
        
   <!--<app-post-model *ngFor="let post of posts" [post]="post"></app-post-model>   -->
</div>
